{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Waiter</title>
    <link rel="stylesheet" href="/static/add_waiter.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Add New Waiter</h2>
            <form id="waiterForm"  action="/add_waiter/" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="waiter_name">Waiter Name:</label>
                    <input type="text" id="waiter_name" name="waiter_name" required>
                </div>

                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="input-group">
                    <label for="phone_number">Phone Number:</label>
                    <input type="tel" id="phone_number" name="phone_number" required>
                </div>

                <div class="input-group">
                    <label for="hire_date">Hire Date:</label>
                    <input type="date" id="hire_date" name="hire_date" required>
                </div>

                <button type="submit">Add Waiter</button>
            </form>
        </div>
    </div>
</body>
</html>

